[Unit]
Description=Programe du serveur central de la société Ktalyse
After=network.target

[Service]
ExecStart=/usr/bin/node src/serverKtalyse.js
WorkingDirectory=/home/pi/serveur_raspberry_rtls

Restart=always
User=pi

[Install]
WantedBy=multi-user.target
